<!/DOCTYPE>
 lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Trafflow</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Sailor - v4.9.1
  * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="/index">TRAFFLOW</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="/index" class="logo me-auto"><img src="img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/index">Home</a></li>

          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/team">Team</a></li>

            </ul>
          </li>
          <li><a href="/services" class="active">Services</a></li>
          <li><a href="/blog">Blog</a></li>

          <li><a href="/contact">Contact</a></li>
          <li><a href="/signin-page" class="getstarted">Sign In</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs" style="background-color: #e6e8ea;">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 style="color: #d9232d;">Services</h2>
          <ol>
            <li><a href="/index">Home</a></li>
            <li style="color: #d9232d;">Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">Traffic Rules Training</a></h4>
              <p style="color: black">We will educate the people about all the traffic rules such that the safety remains at the top. We also teach them the do's and dont's of it.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi"><img width="50" height="50" src="img/training.png" class="img"></i>
              <h4><a href="#">Vehical Driving Training<</a></h4>
              <p style="color: black">We will educate the people how to drive the vehicals also the rules in it. We also teach them the do's and donts of it.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Product Management</a></h4>
              <p style="color: black">We take our work really seriously and maintain a team to manage and train the people for the various works.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi"><img width="50" height="50" src="img/contract.png" class="img"></i>
              <h4><a href="#">Changing Vehical Ownership</a></h4>
              <p style="color: black"> We simplify the vehical ownership changing process and make it a hassel free experience for the two parties.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi"><img width="50" height="50" src="img/driving-license.png" class="img"></i>
              <h4><a href="#">License Approval</a></h4>
              <p style="color: black">We make it easy for the people for getting license and also renewing the license.</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi"><img width="50" height="50" src="img/police.png" class="img"></i>
              <h4><a href="#">Challan the Rule Breakers</a></h4>
              <p style="color: black">We provide service to the government by assigning certain people as public police. </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>Features</h2>
          <p>Check our Features</p>
        </div>

        <div class="row">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Wrong side driving </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Triple riding  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Regarding wearing of helmet  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Using mobile while driving</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Violation of signal jumping </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Violation of stop line   </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Free left Violation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-8">Violation of one way</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Wrong side driving </h3>
                    <p class="fst-italic">Wrong-way driving (WWD), also known as contraflow driving</p>
                    <p> is the act of driving a motor vehicle against the direction of traffic.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/wrongwaydriving.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Triple riding  </h3>
                    <p class="fst-italic">While driving a two-wheeled motorcycle, only two people, </p>
                    <p>including the driver, can sit on the two-wheeler motorcycle.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/trippleriding.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Regarding wearing of helmet</h3>
                    <p class="fst-italic">Every individual aged above 4 years to “wear protective headgear” when riding a</p>
                    <p>motorcycle in a public area. As already mentioned, these helmet laws for <br>motorcycles include both the driver and pillion rider.
                    </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/helmet.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Using mobile while driving</h3>
                    <p class="fst-italic"></p>
                    <p>Using a phone while driving leads to distraction.<br> It falls under traffic rule violation and leads to a heavy penalty.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/mobile.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Violation of signal jumping </h3>
                    <p class="fst-italic">Jumping a Red Light means a vehicle that crosses an intersection or a traffic signal when it is on RED. </p>
                    <p>Jumping a red light or breaking the traffic signal is not legal and is an offence or violation of the traffic rules.<br>It is deemed illegal by the Indian Motor Vehicle Act.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="/img/signal.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
                <div class="tab-pane" id="tab-6">
                  <div class="row">
                    <div class="col-lg-8 details order-2 order-lg-1">
                      <h3>Violation of stop line  </h3>
                      <p class="fst-italic">Stop line indicates the position beyond which the vehicles should not proceed when required to stop by traffic police, traffic signals or other traffic control devices.
                       </p>
                      <p> People stop vehicles on the zebra crossing and pedestrians find it difficult to cross the road.<br>This is a violation of rule and leads to penalty</p>
                    </div>
                    <div class="col-lg-4 text-center order-1 order-lg-2">
                      <img src="/img/stop.png" alt="" class="img-fluid">
                    </div>
                  </div>
                </div>
                  <div class="tab-pane" id="tab-7">
                    <div class="row">
                      <div class="col-lg-8 details order-2 order-lg-1">
                        <h3>Free left Violation</h3>
                        <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                        <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                      </div>
                      <div class="col-lg-4 text-center order-1 order-lg-2">
                        <img src="/img/freeleft.png" alt="" class="img-fluid">
                      </div>
                    </div>
                  </div>
                    <div class="tab-pane" id="tab-8">
                      <div class="row">
                        <div class="col-lg-8 details order-2 order-lg-1">
                          <h3>Violation of one way </h3>
                          <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                          <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                        </div>
                        <div class="col-lg-4 text-center order-1 order-lg-2">
                          <img src="/img/oneway.png" alt="" class="img-fluid">
                        </div>
                      </div>
                    </div>
              </div>
            </div>
        </div>
      </div>
      </div>
    </section><!-- End Features Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>TRAFFLOW</h3>
              <p>
                 <br>
                Edventure Park, Masab Tank, HYD 
                500028, India<br><br>
                <strong>Phone:</strong> +91 8179557010 +91 6309274839<br>
                <strong>Email:</strong> sk22iqbalahmed@gmail.com shareefrizaullah@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Traffic Rules Training</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Vehicle Driving Training</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cganging Vehicle Ownership</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">License Approval</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Stay tuned to get the latest updates.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Trafflow</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/sailor-free-bootstrap-theme/ -->

      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/waypoints/noframework.waypoints.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="js/main.js"></script>

</body>

/<>