<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Signup Form</title>
	<!-- <link rel="stylesheet" href="./css/login.css"> -->
</head>
<body>
	<div class="box">
		<form action="/signup" method="post">
			<a href="/" >Home</a>
			<h2>Sign up</h2>
			<div class="inputBox">
				<input type="text" required="required"  name="username">
				<span>Userame</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="email" required="required" name="email">
				<span>Email</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" required="required" name="password">
				<span>Password</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="number" required="required" name="mobile">
				<span>Mobile</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="text" required="required" name="location">
				<span>Location</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="text" required="required" name="licenseNumber">
				<span>License No.</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="text" required="required" name="vehicleNumber">
				<span>Vehicle No.</span>
				<i></i>
			</div>
			<input type="submit" value="Done">
		</form>
	</div>
</body>
</html>