<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animated Login Form</title>
	<link rel="stylesheet" href="./css/login.css">
</head>
<body>
	<div class="box">
		<form action="/submit-challan" method="post">
			<a href="/">Home</a>
			<h2>Upload Challan</h2>
			<div class="inputBox">
				<input type="text" required="required" name="location">
				<span>location</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="file" required="required" name="testImage">
				<span>Image</span>
				<i></i>
			</div>
			<input type="submit" value="upload">
		</form>
	</div>
</body>
</html>